.button {
    -fx-background-color: #4de780;
}

.button:hover {
    -fx-background-color: #4de780;
    -fx-effect: dropshadow(gaussian, #4de780, 20, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: #1dc750;
    -fx-effect: dropshadow(gaussian, #2dd760, 20, 0, 0, 0);
    -fx-background-insets: 2;
}